{% extends 'base.html' %}

{% block title %}
Create User
{% endblock %}

{% block content %}

<h1>Create your profile!</h1>
<form method="POST" action="/users/new">
        <div>
        <label>First Name</label>
          <input type="text" id="first_name" name="first_name" placeholder="Enter a first name">
        </div>
        <div>
        <label>Last Name</label>
          <input type="text" id="last_name" name="last_name" placeholder="Enter a last name">
        </div>
        <div>
        <label>Image URL</label>
          <input type="text" id="image_url" name="image_url" placeholder="Paste URL here">
        </div>
          <button type="submit">Add</button>
</form>
{% endblock %}